<Config>
  <SpriteCategory Name="ui_sotor">
    <AlwaysLoad/>
  </SpriteCategory>
  <SpriteCategory Name="ui_sotor_perks">
    <AlwaysLoad/>
  </SpriteCategory>
  <SpriteCategory Name="ui_sotor_flipped">
    <AlwaysLoad/>
  </SpriteCategory>
  <SpriteCategory Name="ui_sotor_reagents">
    <AlwaysLoad/>
  </SpriteCategory>

  <SpriteCategory Name="ui_sotor_skills">
    <AlwaysLoad/>
  </SpriteCategory>
  <SpriteCategory Name="ui_sotor_menu">
    <AlwaysLoad/>
  </SpriteCategory>
</Config>
